@charset "UTF-8";
/* Estilos de bordas */

/* Variáveis CSS de borda */
:root {
  --border01: 1px solid var(--dark15);
  --border02: 1px solid var(--primary-color);
  --border03: 1px solid var(--dark20);
}

/* Classe pra borda arredondada 01 */
.border-rounded-01 {
  border-radius: 10px;
  border: var(--border01);
}
