@charset "UTF-8";
/* Estilos do Call To Action */

.callToAction {
  /* Background */
  background-color: var(--background-secondary);
  /* Borda superior */
  border-top: var(--border01);

  /* Espaçamento */
  padding-block: 40px;
  gap: 40px;
}

/* Linha do Badge */
.badgeLine {
  /* Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  /* Espaçamento */
  gap: 20px;

  /* Imagem */
  & img {
    /* Dimensões */
    height: 60px;
    width: 60px;
  }
}

/* Responsividade do texto */
@media screen and (max-width: 1023px) {
  .desktopText {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .mobileText {
    display: none;
  }
}
