@charset "UTF-8";
/* Estilos pro Header (cabeçalho) */

header.siteHeader {
  /* Background */
  background-color: var(--background-secondary);

  /* Espaçamento */
  padding-block: 20px;

  /* Layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* Imagem da logo */
  & .logo {
    /* Dimensões */
    height: 35px;
    width: auto;
  }
}
