@charset "UTF-8";
/* Estilos do Badge */

.badge {
  /* background */
  background-color: var(--background-gray);
  /* cantos arredondados */
  border-radius: 4px;

  /* espaçamento */
  padding: 4px 8px;
  /* dimensões (evitar conflitos) */
  height: fit-content;
  width: fit-content;

  /* tipografia */
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  line-height: 150%;
  /* não quebrar texto */
  text-wrap: nowrap;
}

/* Tablet e Desktop */
@media screen and (min-width: 768px) {
  .badge {
    /* aumentar fonte */
    font-size: 1rem; /* 16px */
  }
}
