@charset "UTF-8";
/* Estilos do Badge */

.badge {
  /* Background */
  background-color: var(--background-gray);
  /* Cantos arredondados */
  border-radius: 4px;
  /* Espaçamento */
  padding: 4px 8px;

  /* Tipografia */
  font-size: 0.875rem; /* 14px */
}
