@charset "UTF-8";
/* Estilos do FooterNavigation */

.FooterNav {
  /* Espaçamento */
  padding-block: 40px;

  /* Listas no Footer */
  & ul {
    /* Remover marcador */
    list-style-type: none;
    /* Remover padding pré-definido de listas */
    padding-inline-start: 0;
  }
  /* Links */
  & a {
    transition: color 0.5s ease;
  }

  /* Lista principal */
  & > ul {
    /* Layout */
    display: grid;
    gap: 1.25rem;
    /* Quantidade de colunas: definidas automaticamente */
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    /* Lista interna */
    & > li {
      /* Layout */
      display: flex;
      flex-direction: column;
      gap: 1rem;

      /* Links de páginas */
      & > a {
        /* Tipografia */
        color: var(--white-letter);
        font-size: 1rem; /* 16px */

        /* Efeito hover */
        &:hover {
          color: var(--primary-color);
        }
      }

      /* Sub-listas (lista de seções) */
      & > ul {
        /* Layout */
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        /* Links de seções */
        & > li > a {
          /* Tipografia */
          color: var(--dark-letter1);
          font-size: 0.875rem; /* 14px */

          /* Layout */
          display: flex;
          flex-direction: row;
          align-items: center;
          /* Espaçamento */
          gap: 8px;
          /* Dimensões */
          height: fit-content;

          /* Efeito hover */
          &:hover {
            color: var(--white-letter);
          }
        }

        /* Lista de seções de botões de redirecionamento */
        &.redirectButton {
          /* Layout */
          flex-direction: row;
          flex-wrap: wrap;
          /* Espaçamento */
          gap: 9px;

          /* Links de seções estilizados como botões de redirecionamento */
          & > li > a {
            padding: 8px 14px;
            /* Ícone */
            & svg {
              height: 18px;
              width: 18px;
            }
          }
        }
      }

      /* Listas que possuem links como botões de redirecionamento */
      &:has(.redirectButton) {
        /* Ocupar toda a linha do grid quando houver 2 colunas */
        grid-column: span 2;
      }
    }
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .FooterNav > ul > li {
    /* Links de páginas */
    & > a {
      font-size: 1.125rem; /* 18px */
    }

    & > ul {
      /* Links de seções */
      & > li > a {
        font-size: 1rem; /* 16px */
      }

      /* Listas de botões de redirecionamento */
      &.redirectButton {
        gap: 12px;
      }
    }

    /* Lista com botões de redirecionamento */
    &:has(.redirectButton) {
      /* Ocupar apenas 1 coluna */
      grid-column: span 1;
    }
  }
}

/* Responsividade nas listas de botões de redirecionamento */
@media screen and (min-width: 609px) and (max-width: 1023px) {
  .FooterNav > ul > li {
    &:has(.redirectButton) {
      /* Ocupar toda a linha do grid quando houver 2 colunas */
      grid-column: span 4;
    }
  }
}
