@charset "UTF-8";
/* Estilos do banner superior que aparece em cima do cabeçalho */

.topBanner {
  /* layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* espaçamento */
  padding-block: 10px 14px;

  /* tipografia */
  color: var(--gray-letter2);
  font-size: 0.875rem; /* 14px */

  /* Ícone */
  & svg {
    /* cor do ícone */
    color: var(--primary-color);
    /* dimensões */
    height: 20px;
    width: 20px;
  }
}

/* Telas grandes */
@media screen and (min-width: 440px) {
  .topBanner {
    /* alterar alinhamento */
    justify-content: center;
    /* aumentar espaçamento */
    gap: 10px;
    padding-block: 12px;
  }
}
