@charset "UTF-8";
/* Estilos para o navbar do header */

/* Navbar */
nav.navbar {
  /* Layout */
  display: flex;

  /* Lista de links */
  & ul {
    /* Remover padding pré-definido de listas */
    padding-inline-start: 0;
    /* Remover marcador */
    list-style-type: none;

    /* Layout */
    display: flex;

    /* Links */
    & a {
      /* Borda */
      border: var(--border01);
      /* Cantos arredondados */
      border-radius: 6px;

      /* Efeitos de transição */
      transition-property: border-color, color, background-color;
      transition-duration: 0.5s;
      /* Efeito hover dos links */
      &:hover {
        border-color: var(--primary-color);
        color: var(--primary-color);
        background-color: var(--background-primary);
      }
    }
  }
}

/* Cor dos ícones dos botões */
.MenuButton,
.FecharButton {
  color: var(--letter-white);
  /* Efeito hover nos botões */
  transition: color 0.5s;
  &:hover {
    color: var(--primary-color);
  }
}

/* navbar mobile (exibido na sidebar) */
@media screen and (max-width: 824px) {
  nav.navbar {
    /* Posição */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    /* Dimensões */
    width: 57vw;
    max-width: 240px;
    /* Espaçamento */
    padding: 16px 24px;

    /* Layout */
    flex-direction: column;

    /* Ocultar o navbar no mobile fora da tela */
    transform: translateX(100%);
    /* Transição ao ocultar/exibir */
    transition: transform 0.5s ease-in-out;

    /* Background */
    background-color: var(--background-secondary);
    /* Borda */
    border-left: var(--border02);

    /* Botão de fechar o navbar mobile */
    .FecharButton {
      /* Alinhamento à direita */
      align-self: flex-end;
    }

    /* Lista de links */
    ul {
      /* Layout */
      align-items: center;
      flex-direction: column;
      gap: 24px;

      /* list-item de links */
      & li {
        /* Links ocuparem toda a largura */
        min-width: 192px;
        width: 100%;

        /* Links */
        & a {
          /* Tipografia */
          font-size: 1.25rem; /* 20px */

          /* Layout */
          display: flex;
          align-items: center;
          justify-content: center;

          /* Espaçamento */
          padding: 12px 18px;
        }
      }
    }

    /* Navbar ativo no sidebar */
    &.active {
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 825px) {
  /* Ocultar botões de abrir e fechar o menu mobile */
  .MenuButton,
  .FecharButton {
    display: none;
  }
}
