@charset "UTF-8";
/* Estilos de tipografia para mobile */

/* Títulos */

h1 {
  font-size: 1.875rem; /* 30px */
}

h2 {
  font-size: 1.75rem; /* 28px */

  /* H2 maior */
  &.bigger {
    font-size: 1.875rem; /* 30px */
  }
}

h3 {
  font-size: 1.5rem; /* 24px */

  /* H3 menor */
  &.smaller {
    font-size: 1.125rem; /* 18px */
  }
}

h4 {
  font-size: 1.125rem; /* 18px */
}

/* Parágrafos */
p {
  font-size: 0.875rem; /* 14px */
}
